.background-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.menu{
    height:30px;
}
.menu1{
    height:30px
}

@media screen and (max-width:500px){
    .menu{
        height:15px;
    }
    .menu1{
        height:15px;
    }
}
.input{
    width:320px;
    height:40px;
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.input-container>li{
    padding-right: 20px;
}
@media screen and (max-width:500px){
    .input-container>li{
        padding-right: 10px;
    } 
}
@media screen and (max-width:500px){
    .input{
        width:150px;
        height:20px;
        font-size:10px
    }
}



.inner-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding:0px
}


.basha{
    padding-left: 30px;
}


.product-container {
    position: relative; 
    display: flex;
    border:1px solid #E4E4E4;
    margin:8px;
    border-radius: 5px;
    min-width:500px;
    align-self: center;
    margin-top:30px;
  }
  
  @media screen and (max-width:500px){
    .product-container{
        min-width:250px;
        margin:14px;
    }
  }

  .product-image {
    width: 200px; 
    height: auto; 
  }
  @media screen and (max-width:500px){
    .product-image{
        width:100px;
        height:100px;
    }
}
.text{
    font-size:30px
}
@media screen and (max-width:500px){
    .text{
        font-size: 15px;
    }
}
  .badge {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #CCFF78; 
    width:80px;
    border-radius:10px;
    text-align: center;
    color: black;
    padding: 5px;
    margin: 0;
  }
  
 @media screen and (max-width:500px){
    .badge{
        font-size: 10px;
        width:40px;
    }
 }
 
.white{
    padding:10px;
    background-color: white;
    margin-bottom:3px;
    width:100%;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width:500px){
    .white{
        font-size:10px
    }
}
.highlight {
    color: black;
    background-color: #CCFF78;
}

.main-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-view #product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto; 
    gap: 16px;
  }
  
  .inner-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
  }
  
  
 
